button{
color: white;
    background-color:lightpink;
    border-radius:9px;
    padding: 10px;
    border-color:navy;
}
label{
    color: mediumvioletred;
}

li{
list-style-type:decimal;
}
img{
height:400px;
width:200px;
border-radius:10px;}